name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Grant execute permission to scripts
        run: chmod +x gradlew .github/decrypt_secrets.sh
      - name: Build with Gradle
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: ./gradlew connectedCheck --no-daemon
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: Upload compiled bin
        uses: actions/upload-artifact@v4
        with:
          name: bins
          path: |
            app/build/outputs/apk/foss/release/app-foss-release.apk
